* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
:root{
    --lightcolor: #ffffff;
    --bg-btn: #0061FF;
    --lightgrey: #F5F5F5;
    --greenlogo: #A2D39B;
    --lightbluelogo: #0093ce;
    --bluelight: #b4D0E7;
    --redlogo: #ff1c1c;
    --cherrylogo: #d5001f;
    --bluelogo: #0d2481;
    --yellowlogo: #ffd830;
    --browncolor: #61082b;
    --blackfoot: #000000;
}
html {
    scroll-behavior: smooths;
}
body {
    background-color: var(--lightcolor);
}
.debug {
    border: 1px solid blue;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
}
.container-small {
    max-width: 1000px;
    margin: 0 auto;
    padding: 10px;
}
ul {
    list-style: none;
}
header{
    position: fixed;
    width: 100%;
    height: 80px;
    top: 0;
    z-index: 1000;
    padding-left: 10px;
    padding-right: 10px;
    background-color: var(--lightcolor);
   
}
.btn-1 {
    background-color: var(--bg-btn);
    padding:  3px 8px;
}
.fa-solid, .fa-arrow-down{
    
    font-size: 3rem;
    text-decoration: none;
    color: #000000;
}

.color-blue {
    background-color: var(--bluelight);
}
.nav-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.ul-left {
    justify-content: flex-start;
    display: flex;
    align-items: center;
}
.ul-left a {
    color: var(--blackfoot);
    text-decoration: none;
}
.ul-left li {
    display: inline-block;
    padding: 20px;
}
.ul-right {
    justify-content: flex-end;
    align-items: center;
    display: flex;
}
.ul-right a {
    color: var(--blackfoot);
    text-decoration: none;
}
.ul-right li {
    display: inline-block;
    padding: 20px;
}
.box {
    display: flex;
}
.text a ,p {
    padding: 10px 10px;
}
.text_1 {
    font-size: 20px;
    line-height: 1.5;
    
}
.btn-2{
    text-decoration: none;
    background-color: var(--bg-btn);
    color: var(--lightcolor);
    padding: 10px 10px;
}
.img-jum {
   position: relative;
   margin-bottom: -80px;
   
}
 .img-jum img {
   width: 100%;
   
}


main {
    padding-top: 80px;
}
h1 {
    font-size: 7vh;
    font-weight: 900;
    padding-top: 3rem;
    padding-bottom: 3rem;
}
h2 {
    font-size: 2rem;
}
.tit-cli {
   
   padding-bottom: 2.5rem;
}
.row {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}
/*sezione business*/
.cont-bus {
    width: calc(100% / 3);
}
.three-contain{
    border: 1px solid var(--lightgrey);
    width: 30%;
}
.padding2{
    padding: 15px;
}
.bloc_1 h3{
   padding-bottom: 15px;
}
.bloc_1, .bloc_2,
.bloc_3, .bloc_4 {
    padding: 40px 0;
}
.bloc_3 p {
    padding-top: 40px;
   
}
.bloc_3 {
    
}
.font-icon i {
    font-size: 20px;
    padding: 10px 0;
}
.font-icon li {
   
}
.font-check i{
    font-size: 20px;
    color: var(--bg-btn);
    padding: 10px 0;
    padding-left: 10px;
}
.icon i {
    font-size: 20px;
}
.icon{
    padding: 15px 0;
    border-bottom: 1px solid var(--lightgrey);
}

/* fine sezione business*/
.box_card_1 img{
    position: relative;
    
}
.card_1 {
    width: calc(100% / 3);
    padding: 20px;
     
}
.m-bot {
    margin-bottom: 50px;
}
.img_100 {
    width: 100%;
}
.padding {
    padding: 10px;
}
.margin-cards {
    margin: 10px;
}
.display-flex {
    display: flex;
}
.flex-colum{
    flex-direction: column;
}
.flex-wrap {
    flex-wrap: wrap;
}
.flex-row{
    flex-direction: row;
}
.align-center {
    align-items: center;
}
.justify-cnt {
    justify-content: center;
}
.justify-content {
    justify-content: space-between;
}
.justify-around {
    justify-content: space-around;
}
.txt-cnt {
    text-align: center;
}
.partner {
    padding-right: 30px;
}
.partner__2 {
   padding-top: 3rem;
   padding: 10px 20px;
}
.partner img {
    width: 100%;
}
.partner__2 p {
    margin-bottom: 30px;
}
.partner__2 a{
    
    text-decoration: none;
    padding: 10px 10px;
    border: 1px solid black;
}
.cliente .logo_1{
    width: 50%;
    height: 50%;
}
.logo_1 img {
    width: 50%;
    
}

.box-logo .loghi {
    width: calc(100% / 3);
    height: calc(100vw / 3);
    
}
.aranc {
    background-color: var(--redlogo);
}
.bluee {
    background-color: var(--lightbluelogo);
}
.style {
    background-color: var(--greenlogo);
    border: 15px solid rgb(222, 247, 222);
  
}
.brownn {
    background-color: var(--browncolor);
}
.world {
   
    background-color: var(--cherrylogo);
}
.lonely{
    background-color: var(--bluelogo);
}
.heart {
    background-color: var(--lightbluelogo);
}
.clear {
    background-color: var(--yellowlogo);
}
.partner__2 h2 {
    margin-top: 30px;   
}
.centrale {
    overflow: auto;
    padding: 40px;
}
.scopri {
    color: var(--bg-btn);
    
}
#chevron{
    font-size: 20px;
    padding-right: 20px;
}
.box_domande_bord {
    border-top: 1px solid grey;
    border-bottom:1px solid grey ;
}
.design {
    line-height: 0.1;  
}
.thomsen {
    padding-top: 4rem;
}
.domanda_1 {
    padding: 20px 0;
}
.titolo_prova h2{
    font-size: 30px;
    color: var(--browncolor);
    
    
}
.titolo_prova h2 {
    padding-top: 4rem;
    padding-bottom: 4rem;
    

}
.titolo_prova a {
    text-decoration: none;
    background-color: var(--lightcolor);
    color: var(--blackfoot);
    padding: 8px 15px;
    
}

footer{
    background-color: var(--blackfoot);
    color: var(--lightcolor);
}
.nav-ul {
   display: flex;
   padding: 4rem 0;
   
}
.nav-ul ul{
    padding-left: 2rem;
}
.foot-ul a {
    color: var(--lightcolor);
    text-decoration: none;
}
.line {
    border-bottom: 1px solid white;
}
.foot-ul a:hover {
    text-decoration: underline;
}
.lingua a{
    color: #ffffff;
    padding: 5px;
    text-decoration: none;
}
.arro {
    color: var(--lightcolor);
    font-size: 15px;
}
.foot-ul li {
    padding-bottom: 10px;
    font-size: 16px;
}
#li {
    font-size: 25px;
}
.margin-bottom {
    margin-bottom: 100px;
}